* {
   /*padding: 0;*/
    margin:auto; 
    font-family:'Times New Roman', Times, serif;    
    justify-content: center;
    
    }

.header{
    background-color:red;
    display:flex;
    flex-direction: row;
   }

.web{
    width: 10%;
    align-self: initial;
    color: white;
    
   
}

.navbar ul{
    list-style-type: none;
    display: flex;
}   
.button1 {
    background-color:pink;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 20px;
  }

.titulo{
    background: black;
    text-align: center;
    color: white;
}

.seccion{
    background: red;
    text-align: center;
    margin: 0 0 0 0;
    color: white;
}

.button2 {
    background-color:gray;
    border: none;
    color: black;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    border-radius: 0px;
  }

.footer{
    /*display: flex;*/
    margin: auto;
    background: black;
    height: 300px;
}   